<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <div class="display-4">Contact Us</div>
  <p class="lead">This is simple contact page</p>
</div>
<div class="container">
  <p>
    Lorem100 ipsum dolor sit amet consectetur adipisicing elit. Nisi, mollitia?
    Fuga, quasi blanditiis. Fugiat consequatur totam voluptate minima aut? Quo,
    error cupiditate? Animi illum qui voluptates non. Alias obcaecati doloribus
    unde ullam inventore eligendi totam quam eveniet incidunt fugit voluptatum
    nulla aut ipsum omnis neque corrupti illo aliquid quibusdam molestias
    beatae, voluptate fuga. Eum ipsum quibusdam quod qui enim, facilis similique
    accusamus, quas quia nihil omnis temporibus mollitia iste? Consequatur
    libero amet ullam inventore unde at. Itaque error, fugiat quae nesciunt
    aspernatur repellat veniam ex autem voluptatibus. Voluptatibus voluptatem,
    excepturi minus, maiores consectetur accusamus aspernatur, modi quae laborum
    facere similique.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint facilis
    adipisci culpa cupiditate numquam at praesentium doloribus aut autem soluta
    provident explicabo accusamus hic ratione, est dicta cum modi in et suscipit
    esse! Nobis, in eveniet. Esse facere quasi distinctio rem maiores
    consequuntur saepe fugiat. Labore repellat cupiditate sequi doloremque
    inventore cum quo consectetur est praesentium at, rem minus vel vero
    reprehenderit, iusto repellendus iste. Autem accusantium alias atque magnam
    est doloremque asperiores rerum iste aspernatur ad sed eveniet, maiores
    inventore dolore impedit architecto quisquam quae. Optio, ducimus ab ex
    harum alias odio id debitis corrupti ullam, excepturi recusandae aut?
  </p>
</div>
