<div class="container">
    <h2 class="text-center">All Products</h2>

    <div class="row">
        <div class="col-sm-3" *ngFor="let product of products">
          <div class="card">
            <img src="{{ product.images[0] }}" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <span class="badge badge-secondary">{{ product.category.name }}</span>
              <h2>{{ product.price | currency : 'INR' }}</h2>
              <button (click)="onButtonClicked(product)" class="btn btn-primary btn-block">Show Details</button>
            </div>
          </div>
        </div>
      </div>
</div>