<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="wrapper">
        <h2>Register</h2>
        <hr />
        <form #registerForm="ngForm" (submit)="onSubmitHandler()">
          <!-- <h2>{{ registerForm.value | json }}</h2>
                    <hr>
                    <h2>{{ userModel | json }}</h2> -->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              class="form-control"
              [(ngModel)]="userModel.firstName"
              required
              #firstName="ngModel"
              [class.is-invalid]="firstName.invalid && firstName.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="firstName.untouched || firstName.valid"
              >first name is required</small
            >
            <!-- <h1>{{ firstName.untouched }}</h1> -->
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              [(ngModel)]="userModel.email"
              #email="ngModel"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [class.is-invalid]="email.invalid && email.touched"
            />
            
            <div *ngIf="email.errors && email.touched">
                <small class="text-danger" *ngIf="email.errors['required']">email is required</small>
                <small class="text-danger" *ngIf="email.errors['pattern']">email must be a valid address</small>
            </div>
            
          </div>

          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input
              type="number"
              name="mobile"
              id="mobile"
              class="form-control"
              [(ngModel)]="userModel.mobile"
              #mobile="ngModel"
              required
              pattern="^\d{10}"
              [class.is-invalid]="mobile.invalid && mobile.touched"
            />
            <div *ngIf="mobile.errors && mobile.touched">
                <small class="text-danger" *ngIf="mobile.errors['required']">mobile number is required</small>
                <small class="text-danger" *ngIf="mobile.errors['pattern']">mobile number must be of 10 digit</small>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              [(ngModel)]="userModel.password"
              required
              minlength="6"
              #password="ngModel"
              [class.is-invalid]="password.invalid && password.touched"
            />
            <div *ngIf="password.errors && password.touched">
                <small class="text-danger" *ngIf="password.errors['required']">password is required</small>
                <small class="text-danger" *ngIf="password.errors['minlength']">password must be a 6 character long</small>
            </div>
           
          </div>

          <input
            type="submit"
            value="Register"
            class="btn btn-primary btn-block"
            [disabled]="registerForm.invalid"
          />
        </form>
        <br />
        <p class="text-center">
          Already Registered? <a routerLink="/login">Click Here</a>
        </p>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
